<header class="text-center mb-4">
    <img src="https://www.unidformazione.com/wp-content/uploads/2017/05/logo-uniba.JPG-2.png"
        alt="Logo Università degli Studi di Bari" style="width: 240px;" class="img-responsive mb-3" />
    <hr>
</header>

<div id="sections-container">
    <section class="tab" id="section-0">
        <div id="introduction">
            <%= survey.introdution %>
        </div>
        <hr class="my-4">
        <div class="buttons-container d-flex">
            <button type="button" disabled class="btn btn-outline-primary d-inline-block prev-section-btn">Indietro
            </button>
            <div class="text-center d-inline-block ml-auto align-middle" style="padding: .375rem .75rem;">
                Pagina <span>1</span> di <span><%= survey.sections.length + 1 %></span>
            </div>
            <button type="button" class="btn btn-primary d-inline-block ml-auto next-section-btn">Avanti</button>
        </div>
    </section>
    <% survey.sections.forEach((section, sectionIndex) => { %>
    <section class="tab" id="section-<%= sectionIndex + 1 %>">
        <form>
            <h2 class="text-center"><%= section.title %></h2>
            <hr class="w-50"/>
            <% section.questions.forEach((question, questionIndex) => { %>
            <div class="form-group">
                <% questionId = "input--sect-" + (sectionIndex + 1) + "-question-" + questionIndex %>
                <% if(question.type !== 'likert'){ %>
                <label class="lead" for="<%= questionId %>">
                    <%= question.question %>
                    <% if(question.required){ %>
                    <span class="text-danger" aria-label="Campo richiesto">*</span>
                    <% } %>
                </label>
                <% } %>

                <%if(question.type === 'choice'){ %>
                    <% if(!Array.isArray(question.choices)) { question.choices = [...Array(question.choices).keys()].map(e => ({ label: e+1, value: e+1 })) } %>
                    <select class="form-control" id="<%= questionId %>" name="<%= question.name %>"
                        <% if(question.required){ %> required <% } %>>
                        <option value="">---</option>
                        <% question.choices.forEach(opt => { %>
                            <option value="<%= opt.value %>"><%= opt.label %></option>
                        <% }) %>
                    </select>
                <% } else if(question.type === 'likert'){ %>
                <div class="table-responsive">
                    <table class="table table-striped text-center">
                        <thead>
                            <tr>
                                <th scope="col" class="text-left">Domanda</th>
                                <th scope="col">Molto<br>in disaccordo</th>
                                <th scope="col">Disaccordo</th>
                                <th scope="col">Indeciso</th>
                                <th scope="col">D&rsquo;accordo</th>
                                <th scope="col">Molto<br>d&rsquo;accordo</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% question.question.forEach((q, i) => { %>
                                <% questionId += '-subq-' + i %>
                                <tr>
                                    <th scope="row" class="text-left">
                                        <label for="<%= questionId %>">
                                            <%= q.question %>
                                            <% if(q.required){ %>
                                            <span class="text-danger" aria-label="Campo richiesto">*</span>
                                            <% } %>
                                        </label>
                                    </th>
                                    <% for(let i = 1; i <= 5; i++) { %>
                                    <td>
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input <% if(q.required){ %> required <% } %> value="<%= i %>" type="radio"
                                                id="<%= questionId %>---<%= i %>" name="<%= q.name %>"
                                                class="custom-control-input">
                                            <label class="custom-control-label"
                                                for="<%= questionId %>---<%= i %>"><%= i %></label>
                                        </div>
                                    </td>
                                    <% } %>
                                </tr>
                            <% }) %>
                        </tbody>
                    </table>
                </div>
                <% } else if(question.type === 'radios') { %>
                    <div class="d-flex flex-direction-row justify-content-space-evenly">
                        <% if(!Array.isArray(question.choices)) { question.choices = [...Array(question.choices).keys()].map(e => ({ label: e+1, value: e+1 })) } %>
                        <% question.choices.forEach((choice, i) => { %>
                            <div class="custom-control custom-control-bottom custom-radio custom-control-inline">
                                <input <% if(question.required){ %> required <% } %> value="<%= choice.value %>" type="radio"
                                                        id="<%= questionId %>---<%= choice.value %>" name="<%= question.name %>"
                                                        class="custom-control-input">
                                <label class="custom-control-label" for="<%= questionId %>---<%= choice.value %>">
                                    <%= choice.label %>
                                </label>
                            </div>
                        <% }) %>
                    </div>
                <% } else { %>
                <input class="form-control" id="<%= questionId %>" name="<%= question.name %>"
                    type="<%= question.type %>"
                    <% if(question.rules){ Object.entries(question.rules).forEach(([key, val])=>{ %>
                    <%= key %>="<%= val %>" <% })} %> <% if(question.required){ %> required <% } %>
                    placeholder="<%= question.placeholder || '' %>">
                <% } %>
            </div>
            <% }) %>
            <hr class="my-4">
            <div class="buttons-container d-flex">
                <button type="button" disabled class="btn btn-outline-primary d-inline-block prev-section-btn">
                    Indietro
                </button>
                <div class="text-center d-inline-block ml-auto align-middle" style="padding: .375rem .75rem;">
                    Pagina <span><%= sectionIndex + 2 %></span> di
                    <span><%= survey.sections.length + 1 %></span>
                </div>
                <button type="submit" class="btn btn-primary d-inline-block ml-auto next-section-btn">Avanti
                </button>
            </div>
        </form>
    </section>
    <% }) %>

    <section class="tab text-center py-5 row" id="ending">
        <div class="col">
            <div id="webcam-video-container" style="width: 320px; height: 240px;"
            class="mb-3 mx-auto webcam-highlight-center">
                <video style="width: 320px; height: 240px;" id="webcam-video"></video>
            </div>
        </div>
        <div class="col">
            <img class="mb-3" style="width: 100px;" src="/assets/images/undraw_super_thank_you_obwk.svg" alt="Grazie mille! (immagine da undraw.co)"/>
            <h1>Grazie!</h1>
            <p>Ricorda di assicurarti che la tua webcam inquadri bene il tuo
                volto! Puoi verificarlo controllando che il tuo volto sia
                all'interno del cerchio chiaro.</p>
            <p>Ora puoi chiudere questa pagina.</p>
        </div>
    </section>
</div>


<script>
    let currentTab = 0;
    const MAX_SECTIONS = <%= survey.sections.length + 1 %>;
    const DATA_DESTINATION_URL = '/survey/store';

    function confirmClose(e){
        return "L'estensione non funzionerà se non completi il questionario. Sicuro di voler uscire?";
    };

    (function ($) {
        $(document).ready(function () {
            const nextButton = $('.next-section-btn');
            const prevButton = $('.prev-section-btn');
            const formTabs = $("#sections-container>.tab:not(#ending)");

            $(formTabs).on('submit', () => false)

            nextButton.on('click', function () {
                nextPrev(1)
            });
            prevButton.on('click', function () {
                nextPrev(-1)
            });

            showTab(currentTab); // Display the current tab

            function showTab(n) {
                if (n < MAX_SECTIONS) {
                    window.onbeforeunload = confirmClose;
                    $(formTabs[n]).show();
                    prevButton.toggle(n !== 0)
                    prevButton.attr('disabled', n === 0);
                    nextButton.html(n === (formTabs.length - 1) ? 'Invia' : 'Avanti');
                } else {
                    window.onbeforeunload = null;
                    showLastPage()
                }
            }

            function showLastPage(){
                const tab = $('#ending')
                tab.show();
                tab[0].style.display = 'flex';
                const videoTag = document.getElementById('webcam-video');
                if(navigator.getUserMedia){
                    navigator.getUserMedia({video: true}, stream => {
                        videoTag.srcObject = stream;
                        videoTag.play();
                    }, console.error)
                }
            }

            function nextPrev(n) {
                if (currentTab !== 0 && n === 1 && !validateForm()) return false;
                $(formTabs[currentTab]).hide()
                if (currentTab + n >= formTabs.length) {
                    submit();
                    return false;
                }
                currentTab = currentTab + n;
                showTab(currentTab);
            }

            function submit() {
                $.post(DATA_DESTINATION_URL, formTabs.children('form').serializeArray())
                    .done(function (data) {
                        window.postMessage({ type: 'ESPOSITOTHESIS___SET_USER_ID', userId: data.userId}, '*');
                        showTab(MAX_SECTIONS + 1);
                    })
                    .fail(function (e) {
                        alert("C'è stato un errore");
                        console.error(e);
                    });
            }

            function validateForm() {
                const form = $('#section-' + currentTab + '>form');
                const valid = form[0].checkValidity();
                if (!valid) {
                    $('<input type="submit">').hide().appendTo(form).click().remove();
                }
                return valid;
            }
        })
    })(jQuery);
</script>
